.footer_container{
    align-items: center;
    display: flex;
    height: 5rem;
    justify-content: space-between;
    width: var(--container-width-lg)
}

.github_logo{
    align-items: center;
    display: flex;
    color: var(--color-primary-font);
    gap: 1rem;
    text-decoration: none;
}

.prorgrams {
    display: flex;
    font-size: 1.25rem;
    gap: 1rem;
}

/* =============== MEDIA QUERIES (MEDIUM DEVICES) =============== */
@media screen and (max-width: 1024px){
    .footer_container  {
        width:  var(--container--width-md)
    }
    
}


/* =============== MEDIA QUERIES (SMALL DEVICES) =============== */
@media screen and (max-width: 600px){
    .footer_container {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: .75rem;
        width:  var(--container--width-sm);

        height: fit-content;


    }

    .designed_by {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 1rem;;
    }


    .rights {
        margin-bottom: 1rem;
    }
    
}

@media screen and (max-width: 732px){
    
    
}